@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

/*resets*/


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}

body{
    font-family: 'poppins',sans-serif;
    color: var(--primary-text-color);
}

 /* nav bar*/
 .main-nav{
    margin-top:20px;
    justify-content: space-between;
    position: relative;
    
 }


 .company-logo img{
    width:200px;

 }

 
 .subfooter { 
    background-color: #1290f7;
    padding: var(--padding-inline-section);
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%;
    z-index: 10;
}

.banner-text{
    color: white;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.a{
    color: white;
}


* {
    box-sizing: border-box;
  }
  
  /* Create three columns of equal width */
  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 #1290f7
  }
  
  /* Pricing header */
  .price .header {
    background-color: #1290f7;
    color: white;
    font-size: 25px;
    
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    color:black;
  }
  
  /* Grey list item */
  .price .grey {
    background-color:#eee ;
    color:black;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: #1290f7ee;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }